<!DOCTYPE html>
<html lang="fa" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>ویرایش و ساخت دسته بندی</title>
</head>

<body dir="rtl">
    <div class="h-[100svh] flex flex-row overflow-hidden">
        <!-- Sidebar -->
        <aside class="w-1/5 h-full bg-zinc-800 flex flex-col justify-start items-center p-10">
            <img src="../../../../public/Logo.png" alt="TechBinary" class="w-full  md:pb-10">
            <nav
                class="flex-1 flex flex-col justify-start w-full text-right text-light-text-soft/80 items-start space-y-5 font-bold text-lg">
                <a href="dashboard.html" class="admin-aside-a"><i class="fa fa-tachometer pl-3"></i>داشبورد</a>
                <a href="categories.html" class="admin-aside-a"><i class="far fa-folder-open pl-3"></i>دسته بندی ها</a>
                <a href="posts.html" class="admin-aside-a"><i class="fas fa-file pl-3"></i>پست ها</a>
                <a href="comments.html" class="admin-aside-a"><i class="fa fa-comment pl-3"></i>کامنت ها</a>
                <a href="users.html" class="admin-aside-a"><i class="fa fa-users pl-3"></i>کاربران</a>
            </nav>
        </aside>
        <!-- sidebarEnd -->

        <!-- Main Content -->
        <main class="w-4/5 h-full bg-light-text-soft flex flex-col px-10 py-5 relative">

            <div id="alerts" class="w-full absolute top-0 left-0 flex flex-col space-y-3 px-[60px]">
                <!-- اینجا باید ارور ها یا همون الرت ها رو نشون بدی -->


                <div
                    class="alert alert-show alert-success flex items-center p-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800">
                    <svg class="shrink-0 w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z" />
                    </svg>
                    <div class="ms-3 text-sm font-medium">
                        عملیات با موفقیت انجام شد!
                    </div>
                    <button onclick="hideAlert(this.parentNode)" type="button"
                        class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
                        data-dismiss-target="#alert-border-2" aria-label="Close">
                        <span class="sr-only">Dismiss</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>



            </div>

            <!-- Header -->
            <header class="flex justify-between flex-row items-center mb-5 p-5">
                <h1 id="pageTitle" class="text-3xl text-dark-text-Primary"></h1>

            </header>

            <section class="flex-1 overflow-hidden rounded-2xl">
                <div class="h-full overflow-y-auto space-y-5 p-5">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-light-text-Primary min-h-52">

                        <form id="new" action="" method="post" class="p-10 w-full flex gap-10 flex-col hidden">
                            <div class="flex gap-10 ">
                                <label class="flex flex-col">
                                    نام :
                                    <input type="text"
                                        class="text-right outline-none border-none placeholder:text-right hover:ring-1 focus:ring-1 ring-sky-500 ring-offset-2 transition-all duration-300 bg-light-text-soft h-8 w-64 rounded-md px-2 my-3"
                                        placeholder="اموزش">
                                </label>
                                <label class="flex flex-col">
                                    عنوان :
                                    <input type="text"
                                        class="text-right outline-none border-none placeholder:text-right hover:ring-1 focus:ring-1 ring-sky-500 ring-offset-2 transition-all duration-300 bg-light-text-soft h-8 w-64 rounded-md px-2 my-3"
                                        placeholder="اموزش">
                                </label>
                            </div>
                            <button class="bg-my-second cursor-pointer text-white font-bold px-3 py-2 rounded-xl max-w-20 text-center">افزودن</button>
                        </form>
                        <form id="edit" action="" method="post" class="p-10 w-full flex gap-10 flex-col hidden">
                            <div class="flex gap-10 ">
                                <label class="flex flex-col">
                                    نام :
                                    <input type="text"
                                        class="text-right outline-none border-none placeholder:text-right hover:ring-1 focus:ring-1 ring-sky-500 ring-offset-2 transition-all duration-300 bg-light-text-soft h-8 w-64 rounded-md px-2 my-3"
                                        placeholder="اموزش">
                                </label>
                                <label class="flex flex-col">
                                    عنوان :
                                    <input type="text"
                                        class="text-right outline-none border-none placeholder:text-right hover:ring-1 focus:ring-1 ring-sky-500 ring-offset-2 transition-all duration-300 bg-light-text-soft h-8 w-64 rounded-md px-2 my-3"
                                        placeholder="اموزش">
                                </label>
                            </div>
                            <button class="bg-orange-500 cursor-pointer text-white font-bold px-3 py-2 rounded-xl max-w-20 text-center">افزودن</button>
                        </form>

                    </div>
                </div>
            </section>

        </main>
    </div>

    <script>
        const hash = window.location.hash || null;
        if (hash !== null) {
            document.getElementById("pageTitle").innerHTML = '<i class="fa fa-folder-open ml-3"></i>' + "ویرایش دسته بندی ها";
            document.getElementById("edit").classList.remove("hidden");
        } else {
            document.getElementById("pageTitle").innerHTML = '<i class="fa fa-folder-open ml-3"></i>' + "ساخت دسته بندی جدید";
            document.getElementById("new").classList.remove("hidden");
        }
    </script>

    <script src="../assets/scripts/alert.js"></script>

</body>

</html>
