<!DOCTYPE html>
<html lang="fa" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>TechBinary</title>
</head>

<body dir="rtl">
    <div class="h-[100svh] flex flex-row overflow-hidden">

        <!-- Sidebar -->
        <aside class="w-1/5 h-full bg-zinc-800 flex flex-col justify-start items-center p-10">
            <img src="../../../../public/Logo.png" alt="TechBinary" class="w-full  md:pb-10">
            <nav
                class="flex-1 flex flex-col justify-start w-full text-right text-light-text-soft/80 items-start space-y-5 font-bold text-lg">
                <a href="dashboard.html" class="admin-aside-a"><i class="fa fa-tachometer pl-3"></i>داشبورد</a>
                <a href="categories.html" class="admin-aside-a"><i class="far fa-folder-open pl-3"></i>دسته بندی ها</a>
                <a href="posts.html" class="admin-aside-a"><i class="fas fa-file pl-3"></i>پست ها</a>
                <a href="comments.html" class="admin-aside-a"><i class="fa fa-comment pl-3"></i>کامنت ها</a>
                <a href="users.html" class="admin-aside-a"><i class="fa fa-users pl-3"></i>کاربران</a>
            </nav>
        </aside>
        <!-- sidebarEnd -->

        <div class="w-4/5 h-full bg-light-text-soft flex flex-col px-10 py-5 relative">

            <div id="alerts" class="w-full absolute top-0 left-0 flex flex-col space-y-3 px-[60px]">
                <!-- اینجا باید ارور ها یا همون الرت ها رو نشون بدی -->


                <div
                    class="alert alert-show alert-success flex items-center p-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800">
                    <svg class="shrink-0 w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z" />
                    </svg>
                    <div class="ms-3 text-sm font-medium">
                        عملیات با موفقیت انجام شد!
                    </div>
                    <button onclick="hideAlert(this.parentNode)" type="button"
                        class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
                        data-dismiss-target="#alert-border-2" aria-label="Close">
                        <span class="sr-only">Dismiss</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>



            </div>


            <header class="w-full flex justify-between items-center flex-row mb-5 p-5">
                <h1 class="text-3xl text-dark-text-Primary "><i class="fa fa-shield ml-3"></i>داشبورد</h1>
                <a href="https://10learn.ir:2083"
                    class="text-center bg-my-second rounded-xl px-3 py-2 font-bold text-white">پنل هاست</a>
            </header>
            <div class="h-full w-full overflow-y-hidden rounded-2xl">
                <div dir="ltr" class="h-full w-full overflow-y-auto space-y-5 p-5">

                    <!-- Cards Grid -->
                    <div class="grid grid-cols-4 gap-5 h-56 w-full">

                        <!-- Card 1 -->

                        <div class="dashboard-cards">
                            <div>
                                <h1>516</h1>
                                <span>تعداد کاربران</span>
                            </div>
                            <a href="users.html" class="w-full mt-auto auth-btn rounded-none">بیشتر</a>
                        </div>

                        <!-- Card 2 -->

                        <div class="dashboard-cards">
                            <div>
                                <h1>516</h1>
                                <span>تعداد پست های فعال</span>
                            </div>
                            <a href="posts.html#actives" class="w-full mt-auto auth-btn rounded-none">بیشتر</a>
                        </div>

                        <!-- Card 3 -->

                        <div class="dashboard-cards">
                            <div>
                                <h1>516</h1>
                                <span>تعداد دسته بندی ها</span>
                            </div>
                            <a href="categories.html" class="w-full mt-auto auth-btn rounded-none">بیشتر</a>
                        </div>

                        <!-- Card 4 -->

                        <div class="dashboard-cards">
                            <div>
                                <h1>516</h1>
                                <span>تعداد نویسندگان</span>
                            </div>
                            <a href="users.html#writers" class="w-full mt-auto auth-btn rounded-none">بیشتر</a>
                        </div>

                    </div>

                    <!-- Chart Section -->
                    <div
                        class="chart flex items-center justify-center w-full h-72 p-5 rounded-2xl bg-light-text-Primary">
                        <canvas id="myLineChart" width="2000" height="450" class="w-full h-full"></canvas>
                    </div>

                </div>
            </div>

        </div>
    </div>
