<!DOCTYPE html>
<html lang="fa" class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
    <title>پست ها</title>
</head>

<body dir="rtl">
    <div class="h-[100svh] flex flex-row overflow-hidden">
        <!-- Sidebar -->
        <aside class="w-1/5 h-full bg-zinc-800 flex flex-col justify-start items-center p-10">
            <img src="../../../../public/Logo.png" alt="TechBinary" class="w-full  md:pb-10">
            <nav
                class="flex-1 flex flex-col justify-start w-full text-right text-light-text-soft/80 items-start space-y-5 font-bold text-lg">
                <a href="dashboard.html" class="admin-aside-a"><i class="fa fa-tachometer pl-3"></i>داشبورد</a>
                <a href="categories.html" class="admin-aside-a"><i class="far fa-folder-open pl-3"></i>دسته بندی ها</a>
                <a href="posts.html" class="admin-aside-a"><i class="fas fa-file pl-3"></i>پست ها</a>
                <a href="comments.html" class="admin-aside-a"><i class="fa fa-comment pl-3"></i>کامنت ها</a>
                <a href="users.html" class="admin-aside-a"><i class="fa fa-users pl-3"></i>کاربران</a>
            </nav>
        </aside>
        <!-- sidebarEnd -->

        <!-- Main Content -->
        <main class="w-4/5 h-full bg-light-text-soft flex flex-col px-10 py-5 relative">


            <div id="alerts" class="w-full absolute top-0 left-0 flex flex-col space-y-3 px-[60px]">
                <!-- اینجا باید ارور ها یا همون الرت ها رو نشون بدی -->


                <div
                    class="alert alert-show alert-success flex items-center p-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800">
                    <svg class="shrink-0 w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z" />
                    </svg>
                    <div class="ms-3 text-sm font-medium">
                        عملیات با موفقیت انجام شد!
                    </div>
                    <button onclick="hideAlert(this.parentNode)" type="button"
                        class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
                        data-dismiss-target="#alert-border-2" aria-label="Close">
                        <span class="sr-only">Dismiss</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>



            </div>

            <!-- Header -->
            <header class="flex justify-between flex-row items-center mb-5 p-5">
                <h1 class="text-3xl text-dark-text-Primary"><i class="fa fa-file-text ml-3"></i>
                    پست جدید</i>
                </h1>
            </header>

            <!-- Table -->
            <section class="flex-1 overflow-hidden rounded-2xl">
                <div class="h-full overflow-y-auto space-y-5 p-5" dir="ltr">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg bg-light-text-Primary p-3">


                        <form id="new" action="" method="post" class="p-10 w-full flex gap-10 flex-col flex-wrap" dir="rtl">
                            <div class="flex gap-10">
                                <label class="flex flex-col">
                                    عنوان :
                                    <input type="text"
                                        class="text-right outline-none border-none placeholder:text-right hover:ring-1 focus:ring-1 ring-sky-500 ring-offset-2 transition-all duration-300 bg-light-text-soft h-8 w-64 rounded-md px-2 my-3"
                                        placeholder="اموزش">
                                </label>
                                <div class="flex flex-col">
                                    <label>دسته‌بندی:</label>
                                    <select id="categorySelect"
                                        class="text-right outline-none border-none hover:ring-1 focus:ring-1 ring-sky-500 ring-offset-2 transition-all duration-300 bg-light-text-soft h-8 w-64 rounded-md px-2 my-3">
                                        <option value="" disabled selected>یک دسته‌بندی انتخاب کنید</option>
                                        <option value="1">آموزش</option>
                                        <option value="2">اخبار فناوری</option>
                                        <option value="3">بررسی محصول</option>
                                        <option value="4">برنامه‌نویسی</option>
                                    </select>
                                </div>

                                <div class="flex flex-col">
                                    <label>تصویر پست:</label>
                                    <input type="file" id="fileInput" accept="image/*" class="block w-64 text-sm text-gray-500 my-3
                                        file:ml-4 file:py-2 file:px-4
                                        file:rounded-full file:border-0
                                        file:text-sm file:font-semibold
                                        file:bg-blue-50 file:text-blue-700
                                        hover:file:bg-blue-100
                                        text-right" />
                                    <div id="preview" class="mt-2 flex justify-center">
                                        <img id="imagePreview" class="w-64 h-auto rounded-lg hidden"
                                            alt="تصویر پیش‌نمایش" />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div id="toolbar-container" dir="ltr">
                                    <span class="ql-formats">
                                        <select class="ql-font"></select>
                                        <select class="ql-size"></select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-underline"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <select class="ql-color"></select>
                                        <select class="ql-background"></select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-header" value="1"></button>
                                        <button class="ql-header" value="2"></button>
                                        <button class="ql-blockquote"></button>
                                        <button class="ql-code-block"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered"></button>
                                        <button class="ql-list" value="bullet"></button>
                                        <button class="ql-indent" value="-1"></button>
                                        <button class="ql-indent" value="+1"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-direction" value="rtl"></button>
                                        <select class="ql-align"></select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-link"></button>
                                        <button class="ql-image"></button>
                                        <button class="ql-video"></button>
                                        <button class="ql-formula"></button>
                                    </span>
                                </div>
                                <div id="editor">
                                </div>
                            </div>
                            <button class="bg-my-second cursor-pointer text-white font-bold px-3 py-2 rounded-xl max-w-20 text-center">انتشار</button>
                        </form>








                    </div>
                </div>
            </section>
        </main>
    </div>



    <script src="../assets/scripts/alert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script>
        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imagePreview');

        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.classList.remove('hidden');
                };
                reader.readAsDataURL(file);
            } else {
                imagePreview.src = '';
                imagePreview.classList.add('hidden');
            }
        });
    </script>
    <script>
        const quill = new Quill('#editor', {
            modules: {
                toolbar: '#toolbar-container',
            },
            placeholder: 'چیزی بنویسید.',
            theme: 'snow',
        });
    </script>
</body>

</html>
