<!DOCTYPE html>
<html lang="fa" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>TechBinary</title>
</head>

<body dir="rtl">

    <!-- header -->
    <header class="containe h-16 flex justify-between items-center px-1">

        <!-- logo -->
        <img src="Logo.png" alt="TechBinary" class="w-28">
        <!-- logeEnd -->


        <!-- search -->
        <form id="search" method="get" action=""
            class="group hidden md:flex bg-light-text-soft rounded-3xl h-2/3 items-center p-1 gap-1">
            <div class="rounded-full size-8 text-dark-text-Primary flex justify-center items-center"><i
                    class="fa fa-search"></i></div>

            <input type="text" class="input-search" placeholder="جستوجوی باینری...">

            <button class="btn-search"><i class="fa fa-arrow-left"></i></button>
        </form>
        <!-- searchEnd -->


        <!-- auth -->
        <div class="flex gap-2 items-center">
            <a class="px-3 pb-1 text-dark-text-Primary text-lg" href="./auth/signin.html">ورود</a>
            <a class="rounded-2xl bg-my-second text-light-text-Primary px-3 py-1 font-bold text-md"
                href="./auth/signup.html">ثبت نام</a>
        </div>
        <!-- authEnd -->

    </header>
    <!-- headerEnd -->




    <!-- hero -->
    <section id="hero" class="w-full h-[350px] relative bg-[url(../images/1.jpg)] bg-cover bg-center">

        <div class="containe h-full flex flex-col gap-8 pt-20 items-center">

            <h1 data-aos="fade-left" class="text-3xl md:text-4xl text-center font-extrabold text-white leading-16">به تک
                باینری <br>دنیای تکنولوژی خوش آمدید</h1>
            <p data-aos="fade-up" data-aos-delay="500"
                class="text-white/80 w-full md:w-1/2 px-6 text-center font-black">
                فناوری رو با یه فنجون چای داغ و حال خوب یاد بگیر!
            </p>

        </div>

    </section>
    <!-- heroEnd -->


    <section class="containe md:flex-row-reverse flex flex-col md:gap-2 lg:gap-10 ">

        <aside id="aside" class="w-full md:w-1/3 md:min-h-full flex flex-col border-r-2 p-2 md:pr-8 border-black/10 pt-10 md:py-10 gap-5">

            <div class=" md:hidden mb-10 ">
                <div class="w-full  flex flex-wrap gap-2 justify-start items-start content-start bg-slate-200 p-3 rounded-2xl">
                    <h2 class="text-xl w-full text-center justify-center flex items-center gap-2 text-dark-text-soft mb-2">دسته بندی ها</h2>
                    <div id="mobile-category" class="grid grid-cols-2 w-full text-center space-y-5 overflow-hidden relative transition duration-700">
                        <a href="" class="aside-category-mobile">category</a>
                        <a href="" class="aside-category-mobile">go</a>
                        <a href="" class="aside-category-mobile">like</a>
                        <a href="" class="aside-category-mobile">content</a>
                        <a href="" class="aside-category-mobile">post</a>
                        <a href="" class="aside-category-mobile">google</a>
                        <a href="" class="aside-category-mobile">blog</a>
                        <a href="" class="aside-category-mobile">app</a>
                    </div>
                </div>
            </div >
            <!-- ad -->

            <!-- <a href="">
                <div id="advertisment" class="w-full h-52 bg-slate-200 flex items-center justify-center rounded-2xl">
                    <h1 class="text-center text-2xl font-bold">Your AD <br>Here</h1>
                </div>
            </a> -->

            <!-- adEnd -->

            <div class="hidden md:block top-10 space-y-5 md:sticky">
                <div class="w-full  flex flex-wrap gap-2 justify-start items-start content-start">
                    <h2 class="text-xl w-full text-right flex items-center gap-2 text-dark-text-soft mb-2"><span
                            class="flex justify-center items-center rounded-full bg-light-text-soft size-10 text-base"><i
                                class="fa fa-flag"></i></span>دسته بندی ها</h2>
                    <a href="" class="aside-category">category</a>
                    <a href="" class="aside-category">go</a>
                    <a href="" class="aside-category">like</a>
                    <a href="" class="aside-category">content</a>
                    <a href="" class="aside-category">post</a>
                    <a href="" class="aside-category">google</a>
                    <a href="" class="aside-category">blog</a>
                    <a href="" class="aside-category">app</a>

                </div>
            </div>
            
        </aside>
        <main id="main" class="w-full relative pb-24 px-2 md:px-5 lg:px-8 md:w-2/3 flex flex-col md:py-10 divide-black/10 divide-y-[1px]">
            <button id="btn-up" onclick="window.scrollTo(0,0);" class="btn-up hidden"><i class="fa fa-arrow-up"></i></button>
            <div class="w-full max-w-5xl mx-auto py-2 md:py-5 h-[600px] px-4">
                <h2 class="text-3xl font-bold text-center mb-5 text-gray-800">محبوب‌ترین ها</h2>

                <div class="swiper mySwiper h-[450px]">
                    <div class="swiper-wrapper pt-8">

                        <div class="swiper-slide">
                            <div
                                class="w-72 h-92 bg-white rounded-3xl  overflow-hidden hover:scale-105 duration-300 relative">
                                <img class="object-cover h-full w-full"
                                    src="assets/images/church_in_stanford-wallpaper-960x540.jpg" alt="">
                                <a href="#"
                                    class="w-full h-1/3 bg-gradient-to-t from-black via-black to-black/60 z-10 absolute bottom-0 flex flex-col px-4 py-3">
                                    <h3 class="text-light-text-Primary text-xl mb-3 font-bold">عنوان</h3>
                                    <p class="text-light-text-soft truncate">اموزش جاوا اسکریپت از صفر تا صد به همراه
                                        پروژه کاملا رایگان به همراه هدیه
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div
                                class="w-72 h-92 bg-white rounded-3xl  overflow-hidden hover:scale-105 duration-300 relative">
                                <img class="object-cover h-full w-full" src="assets/images/1.jpg" alt="">
                                <a href="#"
                                    class="w-full h-1/3 bg-gradient-to-t from-black via-black to-black/60 z-10 absolute bottom-0 flex flex-col px-4 py-3">
                                    <h3 class="text-light-text-Primary text-xl mb-3 font-bold">عنوان</h3>
                                    <p class="text-light-text-soft truncate">اموزش جاوا اسکریپت از صفر تا صد به همراه
                                        پروژه کاملا رایگان به همراه هدیه
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div
                                class="w-72 h-92 bg-white rounded-3xl  overflow-hidden hover:scale-105 duration-300 relative">
                                <img class="object-cover h-full w-full" src="assets/images/image-4 1.png" alt="">
                                <a href="#"
                                    class="w-full h-1/3 bg-gradient-to-t from-black via-black to-black/60 z-10 absolute bottom-0 flex flex-col px-4 py-3">
                                    <h3 class="text-light-text-Primary text-xl mb-3 font-bold">عنوان</h3>
                                    <p class="text-light-text-soft truncate">اموزش جاوا اسکریپت از صفر تا صد به همراه
                                        پروژه کاملا رایگان به همراه هدیه
                                    </p>
                                </a>
                            </div>
                        </div>


                    </div>

                    <div class="swiper-pagination mt-8"></div>

                </div>
                <button data-aos="fade-up" data-aos-once="false"
                    class="bg-my-second invisible font-bold py-2 px-3 absolute bottom-10 rounded-2xl cursor-pointer text-white text-2xl z-30 left-[50%] translate-x-[-50%]"
                    onclick="load()">بیشتر</button>
            </div>




        </main>
    </section>



    <script src="assets/scripts/client-search.js"></script>
    <script src="assets/scripts/like.js"></script>
    <script src="assets/scripts/load-posts.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/scripts/swiper.js"></script>

    <script>
        AOS.init({
            once: true,
            duration: 600,
            easing: 'ease-out-back'
        });
    </script>
</body>

</html>