<!DOCTYPE html>
<html lang="fa" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>فرم فراموشی رمز عبور</title>
</head>

<body dir="rtl">
    <div class="h-[100svh] w-full flex flex-col md:flex-row">
        <div class="auth-right">
            <img src="../../../../public/Logo.png" alt="TechBinary" class="w-32 md:w-36 lg:w-44  md:pb-10">
            <h2 class="text-2xl text-center text-light-text-Primary hidden md:block">دنیای تکنولوژی رو با ما کشف کن.</h2>
            <span class="text-base text-center text-light-text-soft hidden md:block">رمزت رو فراموش کردی؟ نگران نباش! با چند کلیک، رمز جدید بساز و به دنیای فناوری برگرد!</span>
        </div>
        <aside class="auth-aside">

            <form action="signup-email.html" method="post" class="md:flex-1 w-4/5 flex flex-col gap-3 justify-center">

                <h1 class="text-my-second text-lg font-medium">تغییر رمز عبور</h1>
                <input class="auth-input text-left" type="email" placeholder="ایمیل خود را وارد کنید" required>
                <div class="w-full flex justify-end">
                    <button class="auth-btn"><span>ادامه</span><i class="fa fa-angle-left absolute left-3"></i></button>
                </div>

            </form>

            <footer class="mt-auto w-full h-10 text-2xl flex justify-between items-center px-10 text-center space-x-3">
                <div class="icons space-x-3">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-telegram"></i></a>
                </div>
                <a href="../index.html" class="text-sm font-medium">صفحه اصلی</a>

            </footer>
        </aside>
    </div>
    <script src="../assets/scripts/align-inputs.js"></script>
</body>

</html>
